parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        -
            message: /Variable property access on/
            paths:
                - src/functions/iterable_column.php
                - src/functions/iterable_project.php
                - src/functions/iterable_reshape.php
                - src/functions/iterable_unwind.php
includes:
  	- vendor/phpstan/phpstan-strict-rules/rules.neon

